/* Barra lateral desplegable */

.menu-title {
    color: #ff6200;
    text-align: center;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #333;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo{
    float: left;
    line-height: 70px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    }

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 70px;
}

.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0, 0, 0, 05.5cm);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 260px;
    background: #1c1c1c;
    height: 100vh;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
    box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
    
}

#btn-menu:checked ~ .container-menu .cont-menu{
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.cont-menu nav{
    /*transform: translateY(15%);*/
    /*padding-top: 50px;*/
    /*flex: 1;
    display: flex;
    flex-direction: column;*/
    padding-top: 0px; /* Eliminamos el espacio sobrante arriba */
    margin-top: 10px; /* Pequeño margen para no pegar al borde del título */
    
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 10px 20px; 
    font-size: 16px; 
    color: #c7c7c7;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #ff6200;
    background: #252525;
    color: #fff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.icon-equis{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ff6200; 
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    line-height: 30px;
}

.btn-salir {
    color: #ff4444 !important;
    font-family: 'Arial Black', sans-serif; 
    text-decoration: none;
    font-size: 15px;
    display: inline-block; 
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
    text-align: center;
}

.btn-salir:hover {
    color: white !important;
    transform: scale(1.1);
}

hr {
    border: 0.5px solid #333;
    margin: 10px 0;
}

.footer-menu {
    margin-top: auto; 
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #333;
}

.menu-divider {
    width: 80%; /* Para que no toque los bordes y se vea centrada */
    margin: 0 auto 15px auto;
}