body {
    display: grid;
    place-items: center;
    background-color: rgb(255, 98, 0);

}

.inputs_tabla {
    font-size: 10px;
} 

td, th { 
     padding: 5px;
     font-size: 12px;
     text-align: center;
    }

h2 {
    border: 3px solid;
    background-color:rgb(255, 98, 0);
}

#inicio {
    background-image: url('Afueras_universidad.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

#tag_inicio {
    border: 2px solid;
    width: 19cm;
    height: 3cm;
    justify-content: center;
    background-color:rgb(255, 98, 0);
}

#inputs_1 {
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    width: 20cm;
    height: 8cm;
}
    

#inputs_2 {
        text-align: center;
        background-color: rgb(255, 237, 165);
        border: 2px solid;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        font-family: Arial;
        width: 15cm;
        height: 17cm;
}

#inputs_3 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 17cm;
    height: 12cm;
}

#inputs_4 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 21cm;
    height: 6cm;
}

#inputs_5 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 16cm;
    height: 7cm;
}


#inputs_6 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 13cm;
    height: 8cm;
}

#inputs_7 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 16cm;
    height: 7cm;
}

#inputs_8 {
    border: 2px solid;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 237, 165);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 15cm;
    height: 5.5cm;
}

p.dato {
    text-align:justify;
}

h1 {
    font-family: Arial;
}

#tabla {
    width: 30%;
    font-size: 14px;
}


/* Barra lateral desplegable */

.menu-title {
    color: #ff6200;
    text-align: center;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #333;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo{
    float: left;
    line-height: 70px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    }

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 70px;
}

.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0, 0, 0, 05.5cm);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 260px;
    background: #1c1c1c;
    height: 100vh;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
    box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
    
}

#btn-menu:checked ~ .container-menu .cont-menu{
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.cont-menu nav{
    /*transform: translateY(15%);*/
    /*padding-top: 50px;*/
    /*flex: 1;
    display: flex;
    flex-direction: column;*/
    padding-top: 0px; /* Eliminamos el espacio sobrante arriba */
    margin-top: 10px; /* Pequeño margen para no pegar al borde del título */
    
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 10px 20px; 
    font-size: 16px; 
    color: #c7c7c7;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #ff6200;
    background: #252525;
    color: #fff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.icon-equis{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ff6200; 
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    line-height: 30px;
}

.btn-salir {
    color: #ff4444 !important;
    font-family: 'Arial Black', sans-serif; 
    text-decoration: none;
    font-size: 15px;
    display: inline-block; 
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
    text-align: center;
}

.btn-salir:hover {
    color: white !important;
    transform: scale(1.1);
}

hr {
    border: 0.5px solid #333;
    margin: 10px 0;
}

.footer-menu {
    margin-top: auto; 
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #333;
}

.menu-divider {
    width: 80%; /* Para que no toque los bordes y se vea centrada */
    margin: 0 auto 15px auto;
}